<div class="main">
  <div class="container table-container">
    <h1 class="form-heading">配送依頼の編集</h1>
    <div class="form">
      <div class="form-body">
        <%= form_with(model: @request, local: true) do |form| %>
          <% @request.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %> 

          <div class="field">
            <%= form.label "配送日 *" %>
            <%= form.date_field :delivery_date, class: "date-picker" %>
          </div>

          <div class="field">
            <%= form.label "希望便 *" %>
            <%= form.collection_select :trains_id, Train.all, :id, :name, prompt: "便を選択してください" %>
          </div>

          <div class="field">
            <%= form.label "集荷先 *" %>
            <%= form.collection_select :pickup_id, Pickup.all, :id, :name, prompt: "集荷先を選択してください" %>
          </div>

          <div class="field">
            <%= form.label "配達先 *" %>
            <%= form.collection_select :dropoff_id, Dropoff.all, :id, :name, prompt: "配達先を選択してください" %>
          </div>

          <div class="field checkbox-field">
            <%= form.label :pickup_required, "集荷要否", for: "pickup_required" %>
            <%= form.check_box :pickup_required, id: "pickup_required" %>
          </div>

          <div class="field checkbox-field">
            <%= form.label :delivery_required, "配達要否", for: "delivery_required" %>
            <%= form.check_box :delivery_required, id: "delivery_required" %>
          </div>

          <%= form.fields_for :package do |package_form| %>
            <div class="field">
              <%= package_form.label "荷物サイズ *" %>
              <%= package_form.select :size, options_for_select([60, 100, 120, 140]), prompt: "サイズを選択してください" %>
            </div>

            <div class="field">
              <%= package_form.label "個数 *" %>
              <%= package_form.number_field :quantity %>
            </div>

            <div class="field">
              <%= package_form.label "品目 *" %>
              <%= package_form.collection_select :item_id, Item.all, :id, :name, prompt: "品目を選択してください" %>
            </div>
          <% end %>

          <div class="field">
            <%= form.label "ステータス" %>
            <%= form.select :status, options_for_select([
                ['要配送手配', "pending"],
                ['配送準備', "confirmed"],
                ['完了', "delivered"]
            ], @request.status), prompt: "ステータスを選択してください" %>
            </div>
   

          <div class="actions">
            <%= form.submit "編集する" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
