<div class="main posts-index">
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>配送日時</th>
          <th>運行便</th>
          <th>集荷先</th>
          <th>配達先</th>
          <th>集荷希望</th>
          <th>配達希望</th>
          <th>荷物サイズ</th>
          <th>個数</th>
          <th>品目</th>
          <th>ステータス</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |request| %>
          <tr>
            <td><%= request.delivery_date.strftime("%Y-%m-%d") %></td>
            <td><%= request.train.name %></td>
            <td><%= request.pickup.name %></td>
            <td><%= request.dropoff.name %></td>
            <td><%= request.pickup_required ? '有' : '無' %></td>
            <td><%= request.delivery_required ? '有' : '無' %></td>
            <td><%= request.package.size %></td>
            <td><%= request.package.quantity %></td>
            <td><%= request.package.item.name %></td>
            <td><%= case request.status
                  when "pending"
                    '要配送手配'
                  when "confirmed"
                    '配送準備'
                  when "delivered"
                    '配送完了'
                  else
                    'ステータス未定'
                  end %>
            </td>

            <td><%= link_to '編集', "/requests/#{request.id}/edit" %></td>
            <td><%= button_to '削除', "/requests/#{request.id}", method: :delete %></td>
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>
</div>